* {
  box-sizing: border-box;
}

body {
  background-color: #fffbfb;
  font-family: 'Varela Round', sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.1em;
}


/*------------------
  Modal Window
-------------------*/
